node_modules/
/.svelte-kit/
/build/
/dist/
/public/build/
.vite/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.DS_Store
.env
.env.*
.vscode/
.idea/
.history/
.eslintcache
.turbo/
*.log
